=define_helper_functions

- parameters = @experiment.get_parameter_ids
-# parameters = %w(a b)

- filter = {is_done: true, is_error: {'$exists'=> false}}
- fields = {fields: {result: 1}}
- result = @experiment.simulation_runs.where(filter, fields).first
- outputs=[]
- if result.blank?
  - outputs = ["No results found in completed simulation runs"]
- else
  - outputs = result.result.keys
#interactionModal.reveal-modal(data-reveal="true")
  %section#interaction_chart_form.panel.radius.analysis-chart
    %a.close-reveal-modal &#215
    %h3.subheader="Interaction chart"
    %h3 #{}
    .row
      .small-5.columns
        %label.inline="Select first parameter"
      .small-7.columns
        %select.firstParam
          -parameters.each do |parameter|
            %option{:value => parameter}=parameter # TODO: label

    .row
      .small-5.columns
        %label.inline="Select second parameter"
      .small-7.columns
        %select.secondParam
          -parameters.each do |parameter|
            %option{:value => parameter}=parameter

    .row
      .small-5.columns
        %label.inline="Select output parameter"
      .small-7.columns
        %select.outputParam.moes
          -outputs.each do |output|
            %option{:value => output}=output



    .row
      %ul.inline-list
        %li
          %button.radius Load chart
        %li
          %img(src="#{image_url("loading.gif")}" class="loading_chart_gif" id='busy_interaction' size='16x16' style='display: none' )



  .charts
    .scripts

:javascript

  $(function(){

    $("#interactionModal").foundation("reveal", "close");
    var interaction_chart_counter = 0;
    var scripts_loaded = false;

    var load_chart = function(){
      var interaction_chart_div = $("<div id=\"interaction_chart_"+interaction_chart_counter+"\">")[0];
      $("#interactionModal .charts").prepend(interaction_chart_div);
        //TODO - if there's nothing to select -> do nothing
      var x_axis = $("#interactionModal .firstParam option:selected").val();
      var y_axis = $("#interactionModal .secondParam option:selected").val();
      var outputParam = $("#interactionModal .outputParam option:selected").val();
      var query_params = "experiment_id=#{@experiment.id}";
      query_params += "&param_x="+x_axis;
      query_params += "&param_y="+y_axis;
      query_params += "&output="+outputParam;
      query_params += "&chart_id="+interaction_chart_counter;


      var url = "#{@prefix}/chart_instances/interaction?"+query_params;

      var handler = function(data) {
        $("#busy_interaction").hide();
        var targetOffset = $(interaction_chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(interaction_chart_div).html(data);
      };
      getWithSession(url, {}, handler,onErrorHandler);
      interaction_chart_counter++;

    };
    $("#interactionModal").find("button").bind("click", function() {
      $('#busy_interaction').show();
      if(!scripts_loaded){
        var url = "#{@prefix}/script_tags/interaction?base_url=" + encodeURIComponent("#{@prefix}");
        var handler = function(data) {

          scripts_loaded = true;
          $("#interactionModal").find(".scripts").html(data);
          load_chart();
        };
        getWithSession(url, {}, handler);
      }
      else
        load_chart();
      });
    });



