%section.panel.radius.plot
  %h3.subheader "Interaction chart - #{@parameters["output"]} - #{@parameters["param1"]} vs #{@parameters["param2"]}
  .row
  %span.button.hide= 'Hide chart'
  %br
    .chart

:javascript
  $(function() {
    var div_id = "#interaction_chart_#{@parameters['chart_id']}";
    $("span.button.hide").on('click', function() {
      $(div_id).remove();
    });
  });

