%section.panel.radius.plot
  %h3.subheader "Interaction chart - #{params["output_label"]} - #{params["param_x_label"]} vs #{params["param_y_label"]}
  .row
  %span.button.hide{id: "interaction_hide_#{params['chart_id']}"} Hide chart
  %br
    .chart

:javascript
  $(function() {
    var div_id = "#interaction_chart_#{params['chart_id']}";
    $("#interaction_hide_#{params['chart_id']}").on('click', function() {
      $(div_id).remove();
    });
  });

