- parameters = @experiment.get_parameter_ids

-# parameters_labels = parameters


- filter = {is_done: true, is_error: {'$exists'=> false}}
- fields = {fields: {result: 1}}
- result = @experiment.simulation_runs.where(filter, fields).first.result

- outputs = []
- outputs.push(result.first[0])

#paretoModal.reveal-modal(data-reveal="true")
  %section#pareto_charts_form.panel.radius.analysis-chart
    %a.close-reveal-modal &#215
    %h3.subheader="Pareto chart"
    .row
      .small-5.columns
        %label.inline="Select output parameter"
      .small-7.columns
        %select.outputParam.moes
          -outputs.each do |output|
            %option{value:output} #{output}

    .row
      %ul.inline-list
        %li
          %button.radius Load chart
        %li
          %img(src="#{@prefix}/assets/images/loading.gif" id='busy_pareto' size='16x16' style='display: none' )




  .charts
    .scripts

:javascript

  $(function(){

    $('#paretoModal').foundation('reveal', 'close');
    var sessionGetJSON = function(url, params, onSuccess, onError) {
      return $.ajax({
       // dataType: "json",
        url: url,
        xhrFields: {
          withCredentials: true
        },
        success: onSuccess,
        error: (onError && onError()) || function(jqXHR, textStatus, errorThrown) {
          console.log("Error on request to " + url + ": " + textStatus + " " + errorThrown);
        }
      });
    };

    var pareto_chart_counter = 0;
    var scripts_loaded = false;
    var load_chart = function() {
      var pareto_chart_div = $("<div id=\"pareto_chart_"+pareto_chart_counter+"\">")[0];
      $("#paretoModal .charts").prepend(pareto_chart_div);

      var outputParam = $("#paretoModal .outputParam option:selected").val();
      var query_params = "experiment_id=#{@experiment.id}";
      query_params += "&output="+outputParam;
      query_params += "&chart_id="+pareto_chart_counter;

      var url = "#{@prefix}/chart_instances/pareto?"+query_params;

      var handler = function(data) {
        $("#busy_pareto").hide();
        var targetOffset = $(pareto_chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(pareto_chart_div).html(data);
      };
      sessionGetJSON(url, {}, handler);
      pareto_chart_counter++;

    };

    $("#paretoModal").find("button").bind("click", function() {
      $('#busy_pareto').show();
      if(!scripts_loaded){
        var url = "#{@prefix}/script_tags/pareto?base_url=" + encodeURIComponent("#{@prefix}");
        var handler = function(data) {
          load_chart();
          scripts_loaded = true;
          $("#paretoModal").find(".scripts").html(data);
        };
       sessionGetJSON(url, {}, handler);
      }
      else
        load_chart();
      });
  });

