%ul{id: "searchList", style:"list-style-type: circle;"}
  %dl.accordion{"data-accordion" => ""}
    %dd.accordion-navigation
      - @groups.each do | group_id, group| # na razie groupid na stale i tak trzeba zmienic strukture
        %a{href: "#"+group["name"], style:"padding:0px;" "text-align: left;", id:group_id}
          = group["name"]
          #content{id:group_id, style:"padding-bottom:10px;"  }
            %dl.row{style: "text-align: left;"}
              - group["methods"].each do |method|
                %li.small-9.columns.small-centered{id:method["name"], style:"padding-bottom: 0px; padding-right: 0px; margin-left: 10px"}
                  - if method["em_class"]
                    - image_id = method["name"].gsub(/\s+/, "")
                    %a.tip-right.text-left{href: "#", "em-class" => method["em_class"], "line-height"=> "1.3", "title"=>"<div style=width:65%;float:left;padding-top:10px;>#{method["description"]}</div><div style=width:35%;float:right;><img src=#{@prefix}#{method["image"]} /></div> ", "data-reveal-id"=>method["id"], "data-tooltip"=>"", style:"padding: 0px;"}

                      %span{style: "padding: 0;"}= method["name"]
                  - else
                    - image_id = method["name"].gsub(/\s+/, "")
                    %a.tip-right.text-left{href:"#method"+method["name"], "title"=>"<div style=width:65%;float:left;padding-top:10px;>#{method["description"]}</div><div style=width:35%;float:right;><img src=#{@prefix}#{method["image"]}/></div>", "data-reveal-id"=>method["id"], "data-tooltip"=>"", style:"padding: 0px;"}
                      %span= method["name"]


- @methods.each do |method|
  = render "/../visualisation_methods/#{method}/modal"

:javascript
  $(function(){
    $(document).foundation();

  $("#searchList [data-reveal-id=experiment-analysis-modal]").on("click", function(event){
    var modalIdName = $(event.currentTarget).attr('data-reveal-id');
    var className = $(event.currentTarget).attr('em-class');

    $("#" + modalIdName + " .content").hide();
    $("#" + modalIdName + " ." + className + "-content").show();
    });

  $("#searchList").find("#basic").bind("click", function() {
      if (!$("#content_basic").is(":visible"))
        $("#content_basic").show();
      else
        $("#content_basic").hide();
    });

  $("#searchList").find("#params").bind("click", function() {
      $('#params').foundation('tooltips', 'generate', '<img src="http://..../.jpg" />');
      if (!$("#content_params").is(":visible"))
        $("#content_params").show();
      else
        $("#content_params").hide();
    });





  });
