%ul{id: "searchList"}
  %dl.accordion{"data-accordion" => ""}
    %dd.accordion-navigation
      - @groups.each do | group_id, group| # na razie groupid na stale i tak trzeba zmienic strukture
        %a{href: "#"+group["name"]}
          = group["name"]
          #content{id:group_id}
            %dl.row{style: "text-align: left;"}
              - group["methods"].each do |method| 
                %li.small-9.columns.small-centered{id:method["name"], style:"padding-bottom: 0px;"}
                  - if method["em_class"]
                    - image_id = method["name"].gsub(/\s+/, "")
                    %a.tip-right.text-left{href: "#", title: method["description"], "em-class" => method["em_class"], "data-reveal-id"=> method["id"], "data-tooltip" =>""}
                      %span{style: "padding: 0;"}= method["name"]
                      %center
                        %form{id:"description_#{image_id}" ,style:"display: none"}
                          %fieldset{style: "padding: 0;" "margin: 2px;"}
                            %p{style: "font-size: 12;" "margin-bottom: 0;"}#{method["description"]}
                            %img(src= "#{method["image"]}" id="image_#{image_id}")
                  - else
                    - image_id = method["name"].gsub(/\s+/, "")
                    %a.tip-right.text-left{href:"#method"+method["name"], "data-reveal-id"=>method["id"], "data-tooltip"=>"", title:method["description"]}
                      %span= method["name"]
                      %center
                        %form{id:"description_#{image_id}" ,style:"display: none"}
                          %fieldset{style: "padding: 0;" "margin: 2px;"}
                            %p{style: "font-size: 12;" "margin-bottom: 0;"}#{method["description"]}
                            %img{src:"#{@prefix}#{method["image"]}", id:"image_#{image_id}", style:"padding: 0;"}




- @methods.each do |method|
  = render "/../visualisation_methods/#{method}/modal"

:javascript
  $(function(){

    $("#searchList").find("span").bind("mouseover", function() {
      var method_name = (this.innerHTML);
      method_name = method_name.replace(/\s+/g, '')
      var image_name = "#description_"+method_name;
      if (!($(image_name).is(":visible") )) {
        $(image_name).show();

      }
      else
        $(image_name).hide();
    });

  $("#searchList").find("#Basic analysis").bind("click", function() {
      alert("Klik")



    });






  });
