- parameters = @experiment.get_parameter_ids
-# parameters = %w(a b)
- parameters_labels = parameters


- experiment_id = params[:id].to_s
- experiment = Scalarm::Database::Model::Experiment.find_by_id(experiment_id)
- filter = {is_done: true, is_error: {'$exists'=> false}}
- fields = {fields: {result: 1}}
- result = experiment.simulation_runs.where(filter, fields).first.result
- outputs = result.keys



#dendrogramModal.reveal-modal(data-reveal="true")
  %section#dendrogram_charts_form.panel.radius.analysis-chart
    %a.close-reveal-modal &#215
    %h3.subheader="Dendrogram for hierarchical clastering"
    %h3 #{}
    .row
      .small-5.columns
        %label.inline="Select parameter"
      .small-7.columns
        %select.firstParam
          -outputs.each do |output|
            %option{value:output} #{output}

    .row
      %ul.inline-list
        %li
          %button.radius Load chart
        %li
          %a
            %img(src="#{@prefix}/assets/images/material_design/loading.gif" id='busy_dendrogram' size='16x16' style='display: none' )

  .charts
    .scripts

:javascript
  $(function(){
    $('#dendrogramModal').foundation('reveal', 'close');
    var sessionGetJSON = function(url, params, onSuccess, onError) {
      return $.ajax({
       // dataType: "json",
        url: url,
        xhrFields: {
          withCredentials: true
        },
        success: onSuccess,
        error: (onError && onError()) || function(jqXHR, textStatus, errorThrown) {
          console.log("Error on request to " + url + ": " + textStatus + " " + errorThrown);
        }
      });
    };
    var scripts_loaded = false;
    var chart_counter = 0;
    var load_chart = function() {
      var chart_div = $("<div id=\"dendrogram_chart_"+chart_counter+"\">")[0];
      $("#dendrogramModal .charts").prepend(chart_div);
      var moes = $("#dendrogramModal .firstParam option:selected").val();
      var query_params = "experiment_id=#{@experiment.id}";
      query_params += "&param1="+moes;
       query_params += "&chart_id="+chart_counter;
      var url = "#{@prefix}/chart_instances/dendrogram?"+query_params;
      var handler = function(data) {
        $("#busy_dendrogram").hide();
        var targetOffset = $(chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(chart_div).html(data);
      };
      sessionGetJSON(url, {}, handler);
      chart_counter++;
    };
    $("#dendrogramModal").find("button").bind("click", function() {
      $("#busy_dendrogram").show();
      if(!scripts_loaded) {
        var url = "#{@prefix}/script_tags/dendrogram?base_url=" + encodeURIComponent("#{@prefix}");
        var handler = function(data) {
          load_chart();
          scripts_loaded = true;
          $("#dendrogramModal").find(".scripts").html(data);
        };
        sessionGetJSON(url, {}, handler);
      }
      else
        load_chart();
    });
  });