- parameters = @experiment.get_parameter_ids
-# parameters = %w(a b)
- parameters_labels = parameters
- filter = {is_done: true, is_error: {'$exists'=> false}}
- fields = {fields: {result: 1}}
- result = @experiment.simulation_runs.where(filter, fields).first
- outputs=[]
- if result.blank?
  - outputs = ["No results found in completed simulation runs"]
- else
  - outputs = result.result.keys

=define_helper_functions

#dendrogramModal.reveal-modal(data-reveal="true")
  %section#dendrogram_charts_form.panel.radius.analysis-chart
    %a.close-reveal-modal &#215
    %h3.subheader="Dendrogram for hierarchical clustering"
    %h3 #{}
    .row
      %label.inline="Select parameters of clustering:"
      %table( width="100%")
        -outputs.each do |output|
          %tr
            %td.name
              %input{:type => "checkbox"}#{output}

        %tr
          %td.name
            %input#checkAll{:type => "checkbox"}Check all



    .row
      %ul.inline-list
        %li
          %button.radius Load chart
        %li
          %a
            %img(src="#{image_url("loading.gif")}" id='busy_dendrogram' class='loading_chart_gif' size='16x16' style='display: none' )

  .charts
    .scripts

:javascript
  $(function(){
    $('#dendrogramModal').foundation('reveal', 'close');
    var scripts_loaded = false;
    var chart_counter = 0;
    var load_chart = function() {
      var chart_div = $("<div id=\"dendrogram_chart_"+chart_counter+"\">")[0];
      $("#dendrogramModal .charts").prepend(chart_div);
      var selectedFiles =
        $('input:checked').
        map(function () {
            if ($(this).parents('tr').eq(0).find('.name').text() != 'Check all')
              return $(this).parents('tr').eq(0).find('.name').text();
        });
       
      var selected = selectedFiles.toArray();
      moes = "";
      moes += "&number_of_moes="+selected.length;
      for (i = 1; i <= selected.length; i++) {
        if (type_of_parameter(selected[i-1].trim()) == 'string') {
          toastr.error('Cannot plot for string type parameter - ' + selected[i-1].trim());
          $("#busy_dendrogram").hide();
          return;
        }
        moes+="&param"+ i + "=" + selected[i-1];
      }

      var query_params = "experiment_id=#{@experiment.id}";
      query_params += moes;
      query_params += "&chart_id="+chart_counter;

      var url = "#{@prefix}/chart_instances/dendrogram?"+query_params;
      var handler = function(data) {
        $("#busy_dendrogram").hide();
        var targetOffset = $(chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(chart_div).html(data);
      };
      getWithSession(url, {}, handler, onErrorHandler);
      chart_counter++;
    };

    $("#dendrogramModal").find("button").bind("click", function() {
      $("#busy_dendrogram").show();
      if(!scripts_loaded) {
        var url = "#{@prefix}/script_tags/dendrogram?base_url=" + encodeURIComponent("#{@prefix}");
        var handler = function(data) {
          scripts_loaded = true;
          $("#dendrogramModal").find(".scripts").html(data);
          load_chart();
        };
        getWithSession(url, {}, handler);
      }
      else
        load_chart();
    });

    $("#checkAll").change(function () {
      $("input:checkbox").prop('checked', $(this).prop("checked"));
    });

    function type_of_parameter(parameter) {
      var index_of_moe = window.moes_info.moes_names.indexOf(parameter);
      return window.moes_info.moes_types[index_of_moe];
    }
  });