- parameters = @experiment.get_parameter_ids
-# parameters = %w(a b)
- parameters_labels = parameters
- filter = {is_done: true, is_error: {'$exists'=> false}}
- fields = {fields: {result: 1}}
- result = @experiment.simulation_runs.where(filter, fields).first
- outputs=[]
- if result.blank?
  - outputs = ["No results found in completed simulation runs"]
- else
  - outputs = result.result.keys

=define_helper_functions

#dendrogramModal.reveal-modal(data-reveal="true" style="max-width: 90rem;")
  %section#dendrogram_charts_form.panel.radius.analysis-chart
    %a.close-reveal-modal &#215
    %h3.subheader="Dendrogram for hierarchical clustering"
    .row
      -if result.blank?
        %label.inline #{outputs.to_sentence}
      -else
        .row
          %label.inline="Select parameters of clustering:"
          .moes_infos
            -outputs.each do |output|
              %span.small-2.columns.end
                %label
                  %input{:type => "checkbox", :style => "margin-right:5px;", :id => "#{output}"}
                  #{output}


        .row
          %ul.inline-list
            %li
              %button.radius.check_all#check Check / Uncheck all
          %ul.inline-list
            %li
              %button.refresh Refresh moes
            %li
              %button.radius.load Load chart
            %li
          %a
            %img(src="#{image_url("loading.gif")}" id='busy_dendrogram' class='loading_chart_gif' size='16x16' style='display: none' )

  .charts
    .scripts

#clusterInfo.reveal-modal(data-reveal="")

:javascript
  $(function(){
    $('#dendrogramModal').foundation('reveal', 'close');
    var scripts_loaded = false;
    var chart_counter = 0;
    var load_chart = function() {
      var chart_div = $("<div id=\"dendrogram_chart_"+chart_counter+"\">")[0];
      $("#dendrogramModal .charts").prepend(chart_div);
      var selectedFiles =
        $('#dendrogramModal').find('input:checked').map(function () {
            return $(this).attr('id')
        });
      var selected_parameters = selectedFiles.toArray();
      var url = "#{@prefix}/chart_instances/dendrogram";
      var handler = function(data) {
        $("#busy_dendrogram").hide();
        var targetOffset = $(chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(chart_div).html(data);
      };
      getWithSession(url, {array: selected_parameters, chart_id: chart_counter, experiment_id: "#{@experiment.id.to_s}", base_url: "#{@prefix}"}, handler, onErrorHandler);
      chart_counter++;
    };
    $("#dendrogramModal").find("button.refresh").bind("click", function() {
      $('#busy_dendrogram').show();
      $.getJSON ("/experiments/#{@experiment.id}/moes_json", function(data){

        var new_checkbox ="";
        for (var iter in data){
          var param = JSON.parse(data[iter]);
          if (param.type == "moes_parameter")
            new_checkbox = new_checkbox + "<span class='small-2 columns end'><label><input id='"+ param.id +"' style='margin-right:5px;' type='checkbox'>"+param.label+"</label></span> ";
        }
        $(" .moes_infos").each(function(){
          $(this).html(new_checkbox);
        });
      });
      $('#busy_dendrogram').hide();
      toastr.success("Moes refreshed");
     });

    $("#dendrogramModal").find("button.radius.load").bind("click", function() {
      if ($('input:checked').length == 0) toastr.error("Select moes and click Load chart.");
      else {
        $("#busy_dendrogram").show();
        if(!scripts_loaded) {
          var url = "#{@prefix}/script_tags/dendrogram?base_url=" + encodeURIComponent("#{@prefix}");
          var handler = function(data) {
            scripts_loaded = true;
            $("#dendrogramModal").find(".scripts").html(data);
            load_chart();
          };
          getWithSession(url, {}, handler);
        }
        else
          load_chart();
      }
    });
    $("button.radius.check_all#check").on('click', function () {
      if ($("input:checkbox").length ==  $("input:checked").length) {
        $("input:checkbox").prop('checked', false);
      }
      else $("input:checkbox").prop('checked', true);
    });
  });