=define_helper_functions

%section#three_dModal.panel.radius.analysis-chart
  %a.close-reveal-modal &#215
  %h3.subheader="3d scatter plot charts"

  .row
    .small-5.columns
      %label.inline="Select first parameter"
    .small-7.columns
      %select(id="firstParam" class ="moes_params_list")
  .row
    .small-5.columns
      %label.inline="Select second parameter"
    .small-7.columns
      %select(id="secondParam" class ="moes_params_list")
  .row
    .small-5.columns
      %label.inline="Select third parameter"
    .small-7.columns
      %select(id="thirdParam" class ="moes_params_list")

  .row
    %ul.inline-list
      %li
        %button.refresh Refresh parameters
      %li
        %button.radius Load chart
      %li
        =loading_gif('busy_3d')

  .charts
    .scripts

- filter = {is_done: true, is_error: {'$exists'=> false}}
- fields = {fields: {result: 1}}
- result = @experiment.simulation_runs.where(filter, fields).first
:javascript

  $(function(){

    /* function from global variable moes_info_json create html selectbox with moe and params values and then replacing exiting values with new ones*/
    window.reload_three_d_params = function(){
      $("#busy_3d").show();
      
      if (("#{params[:stand_alone]}" == "true") || ("#{params[:stand_alone]}" == "false" && "#{params[:moes_info_exist]}" == "false")) {
        moes_info_json = getMoesInfoJson(#{@experiment.get_parameter_ids}, #{result.result.keys});
        moes_info = getMoeInfo(#{result.result.keys}, #{result.result.values});
      }
      
      reload_selectbox_params_and_moes();
      $('#busy_3d').hide();
    };
    reload_three_d_params();
    var reload_modal_params = function(){
      reload_three_d_params();
      toastr.success('Parameters refreshed');
    };
    var three_d_chart_counter = 0;
    var load_chart = function() {
      var three_d_chart_div = $("<div id=\"three_d_chart_"+three_d_chart_counter+"\">")[0];
      $("#three_dModal .charts").prepend(three_d_chart_div);
      //TODO - if there's nothing to select -> do nothing
      var x_axis = $("#three_dModal select#firstParam option:selected").val();
      var y_axis = $("#three_dModal select#secondParam option:selected").val();
      var z_axis = $("#three_dModal select#thirdParam option:selected").val();
      x_axis = escapeHtml(x_axis);
      y_axis = escapeHtml(y_axis);
      z_axis = escapeHtml(z_axis);

      var query_params = "experiment_id=#{@experiment.id}";
      query_params += "&param_x="+x_axis;
      query_params += "&param_y="+y_axis;
      query_params += "&param_z="+z_axis;
      query_params += "&chart_id="+three_d_chart_counter;
      query_params += "&stand_alone=false";

      var url = "#{@prefix}/chart_instances/three_d?"+query_params;

      var handler = function(data) {
        $("#busy_3d").hide();
        var targetOffset = $(three_d_chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(three_d_chart_div).html(data);
      };
      getWithSession(url, {}, handler, onErrorHandler);
      three_d_chart_counter++;

    };

    $("#three_dModal").find("button.refresh").bind("click", reload_modal_params);

    $("#three_dModal").find("button.radius").bind("click", function() {
      $("#busy_3d").show();
      load_chart();
    });

  });
