- parameters = @experiment.get_parameter_ids

- parameters_labels = parameters
- filter = {is_done: true, is_error: {'$exists'=> false}}
- fields = {fields: {result: 1}}
- result = @experiment.simulation_runs.where(filter, fields).first
- outputs=[]
- if result.blank?
  - outputs = ["No results found in completed simulation runs"]
- else
  - outputs = result.result.keys

#threeDModal.reveal-modal(data-reveal="true")
  %section#threeD_charts_form.panel.radius.analysis-chart
    %a.close-reveal-modal &#215
    %h3.subheader="3d scatter plot charts"
    %h3 #{}
    .row
      .small-5.columns
        %label.inline="Select first parameter"
      .small-7.columns
        %select(id="firstParam" class ="moes_params_list")
          %optgroup{:label => "Parameters"}
            -parameters_labels.each do |parameter|
              %option{value:parameter} #{parameter}

          %optgroup{:label => "MoEs"}
            -outputs.each do |output|
              %option{value:output} #{output}

    .row
      .small-5.columns
        %label.inline="Select second parameter"
      .small-7.columns
        %select(id="secondParam" class ="moes_params_list")
          %optgroup{:label => "Parameters"}
            -parameters.each do |parameter|
              %option{value:parameter} #{parameter}

          %optgroup{:label => "MoEs"}
            -outputs.each do |output|
              %option{value:output} #{output}

    .row
      .small-5.columns
        %label.inline="Select third parameter"
      .small-7.columns
        %select(id="thirdParam" class ="moes_params_list")
          %optgroup{:label => "Parameters"}
            -parameters.each do |parameter|
              %option{value:parameter} #{parameter}


          %optgroup{:label => "MoEs"}
            -outputs.each do |output|
              %option{value:output} #{output}

    .row
      %ul.inline-list
        %li
          %button.refresh Refresh parameters
        %li
          %button.radius Load chart
        %li
          %img(src="#{image_url("loading.gif")}" id='busy_3d' class='loading_chart_gif' size='16x16' style='display: none' )




  .charts
    .scripts

:javascript

  $(function(){

    $("#threeDModal").foundation("reveal", "close");

    var three_d_chart_counter = 0;
    var scripts_loaded = false;
    var load_chart = function() {

      var three_d_chart_div = $("<div id=\"three_d_chart_"+three_d_chart_counter+"\">")[0];
      $("#threeDModal .charts").prepend(three_d_chart_div);
      //TODO - if there's nothing to select -> do nothing
      var x_axis = $("#threeDModal select#firstParam option:selected").val();
      var y_axis = $("#threeDModal select#secondParam option:selected").val();
      var z_axis = $("#threeDModal select#thirdParam option:selected").val();
      escapeHtml(x_axis)
      escapeHtml(y_axis)
      escapeHtml(z_axis)

      var query_params = "experiment_id=#{@experiment.id}";
      query_params += "&param_x="+x_axis;
      query_params += "&param_y="+y_axis;
      query_params += "&param_z="+z_axis;
      query_params += "&chart_id="+three_d_chart_counter;

      var url = "#{@prefix}/chart_instances/three_d?"+query_params;

      var handler = function(data) {
        $("#busy_3d").hide();
        var targetOffset = $(three_d_chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(three_d_chart_div).html(data);
      };
      getWithSession(url, {}, handler, onErrorHandler);
      three_d_chart_counter++;

    };

    $("#threeDModal").find("button.refresh").bind("click", function() {
      $("#busy_3d").show();
      //moes_info_json is global array of json with info (label id type of) parameters (EM global variable)
      var new_select ="<optgroup label='Parameters'>";
      for (var iter in moes_info_json){
        var param = moes_info_json[iter];
        console.debug(param);
        if (param.type =="")
          new_select = new_select +"</optgroup> <optgroup label='Moes'>"
        else
          new_select = new_select + "<option value='"+param.id+"'>"+param.label+"</option> ";
      }
      new_select = new_select +"</optgroup>"
      update_params_names(new_select);
      $('#busy_3d').hide();
      toastr.success("Parameters refreshed");
     });

    var update_params_names = function(data){
      $(".moes_params_list").each(function(){
        selected_option = $(this).find(":selected").val();
        $(this).html(data);
        $(this).find("option").filter(function(){
          return $(this).val() == selected_option
        }).attr('selected', true)
      });
    };


    $("#threeDModal").find("button.radius").bind("click", function() {
      if (check_if_no_results_to_plot() == true) return;

      $("#busy_3d").show();
      if(!scripts_loaded) {
        var url = "#{@prefix}/script_tags/three_d?base_url=" + encodeURIComponent("#{@prefix}");
        var handler = function(data) {
          scripts_loaded = true;
          $("#threeDModal").find(".scripts").html(data);
          load_chart();
        };
       getWithSession(url, {}, handler);
      }
      else
        load_chart();
    });

    function check_if_no_results_to_plot() {
      if (typeof(window.moes_info.moes_names) == 'undefined') {
        toastr.error("No results to plot");
        return true;
      }
    }

  });
