%section.panel.radius.plot
  %h3.subheader 3D scatter plot chart - xAxis: #{params["param_x"]} yAxis: #{params["param_y"]} zAxis:  #{params["param_z"]}
  .row
  %span.button.hide= 'Hide chart'
  %br
    .chart


:javascript
  $(function() {
    var div_id = "#three_d_chart_#{params['chart_id']}";
    $("span.button.hide").on('click', function() {
      $(div_id).remove();
    });
  });