%section.panel.radius.plot
  %h3.subheader 3D scatter plot chart - xAxis: #{params["param_x_label"]} yAxis: #{params["param_y_label"]} zAxis:  #{params["param_z_label"]}
  .row
  %span.button.hide{id: "three_d_hide_#{params['chart_id']}"} Hide chart
  %br
    .chart


:javascript
  $(function() {
    var div_id = "#three_d_chart_#{params['chart_id']}";
    $("#three_d_hide_#{params['chart_id']}").on('click', function() {
      $(div_id).remove();
    });
  });