#lindevModal.reveal-modal(data-reveal=true)
  section.panel.radius.analysis-chart#lindev_charts_form
    a.close-reveal-modal &#215
    h3.subheader Line charts with standard deviation

    form
      .row
        .small-5.columns
          label(class='inline') Select first parameter
        .small-7.columns
          select.firstParam
            optgroup(label="Parameters")
              each parameter in parameters
                option(value=parameter.id)= parameter.label
            optgroup(label="MoEs").moes
              each output in outputs
                option(value=output.id)= output.label
      .row
        .small-5.columns
          label(class='inline') Select second parameter
        .small-7.columns
          select.secondParam
            optgroup(label="Parameters")
              each parameter in parameters
                option(value=parameter.id)= parameter.label
            optgroup(label="MoEs").moes
              each output in outputs
                option(value=output.id)= output.label

      .row
        ul.inline-list
          li 
            button.button.radius Load chart
          li
            img(src='#{prefix}/images/loading.gif', id='busy_lindev', size='16x16', style='display: none')

  .charts
    .scripts

script.
  $(function() {
    $("#lindevModal").foundation("reveal", "close");

    var chart_counter = 0;
    var scripts_loaded = false;

    var load_chart = function(){
      var chart_div = $("<div id=\"lindev_chart_"+chart_counter+"\">")[0];
      $("#lindevModal .charts").prepend(chart_div);

      var x_axis = $("#lindevModal .firstParam option:selected").val();
      var y_axis = $("#lindevModal .secondParam option:selected").val();

      var query_params = "id=#{experimentID}";
          query_params += "&param1="+x_axis;
          query_params += "&param2="+y_axis;
          query_params += "&chart_id="+chart_counter;
      //TODO? Query string with prefix?
      $(chart_div).load("#{prefix}/chart_instances/lindev?"+query_params, function(){
        $("#busy_lindev").hide();
        var targetOffset = $(this).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
      });
      chart_counter++;
    }

    $("#lindevModal button").bind("click", function() {
      $("#busy_lindev").show();
      if(!scripts_loaded) {
        $("#lindevModal .scripts").load("#{prefix}/script_tags/lindev?base_url=#{prefix}", function(){
          load_chart();
          scripts_loaded = true;
        });
      }

      else{
        load_chart();
      }

      return false;
    })
  })