%section#lindev_chart_form.panel.radius.plot
  %h3.subheader Line chart #{@parameters["param1"]} vs. #{@parameters["param2"]}
  .row
  %span.button.hide= 'Hide chart'
  %br
    .chart

  -#.row
  -#  .small-offset-1.small-3.columns
  -#    %label.inline{:for => "choose_axis_lindev_chart_undefined"} Select axis to add series:
  -#  .small-5.columns.end
  -#    %select#choose_axis_lindev_chart_undefined
  -#      %option{:value => "x"} Axis X
  -#      %option{:value => "y"} Axis Y
  -#.row
  -#  .small-offset-1.small-3.columns
  -#    %label.inline{:for => "new_series_lindev_chart_undefined"} Add new series:
  -#  .small-5.columns.end
  -#    %select#new_series_lindev_chart_undefined
  -#      %optgroup{:label => "Parameters"}
  -#        -@parameters["input_parameters"].each do |parameter|
  -#          %option{:value => parameter}= parameter
  -#      %optgroup.moes{:label => "MoEs"}
  -#        -@parameters["moes"].each do |output|
  -#          %option{:value => output }= output.first
    -#.small-2.columns.end
      %span.add_series.button.radius.tiny Add series



-# TODO: sessionGetJSON - move to separate partial or something
:javascript
  var sessionGetJSON = function(url,params, onSuccess, onError) {
    return $.ajax({
      dataType: "json",
      url: url,
      xhrFields: {
        withCredentials: true
      },
      success: onSuccess,
      error: (onError && onError()) || function(jqXHR, textStatus, errorThrown) {
        console.log("Error on request to " + url + ": " + textStatus + " " + errorThrown);
      }
    });
  };
  $(function() {
    var setAxis = "x";
    $("#choose_axis_lindev_chart_#{@parameters["chart_id"]}").change(function() {
      setAxis = $(this).find(":selected").val();
    });
    var div_id = "#chart_#{@parameters["chart_id"]}";
    $(div_id+ " .add_series").bind("click", function() {
      var axis_label = $("#new_series_lindev_chart_#{@parameters["chart_id"]} option:selected").html();
      var axis = $("#new_series_lindev_chart_#{@parameters["chart_id"]} option:selected").val();
      $("#choose_axis_lindev_chart_#{@parameters["chart_id"]}").prop("disabled", true);
      if(setAxis=="x") {
        var url = "#{@prefix}/chart_instances/lindev";
        var params = {
          "type": "data",
          "param1": axis,
          "param2": $(div_id + " .chart").highcharts().userOptions.yAxis.title.text, "id": "#{@experiment_id}"
        };
        var handler = function(data) {
          var chart = $(div_id + " .chart").highcharts();
          chart.addAxis({ id: axis, title: { text: axis_label } }, true);
          chart.addSeries({name: axis_label.split(" - ").slice(-1)[0], xAxis: axis, data: data[0]});
          chart.addSeries({name: axis_label.split(" - ").slice(-1)[0], xAxis: axis, data: data[1], type: "errorbar"});
        };
        sessionGetJSON(url, params, handler);
      }
      else if(setAxis=="y") {
        var url = "#{@prefix}/chart_instances/lindev";
        var params = {
          "type": "data",
          "param1": $(div_id + " .chart").highcharts().userOptions.xAxis.title.text,
          "param2": axis, "id": "#{@experiment_id}"
        };
        var handler = function(data) {
          var chart = $(div_id + " .chart").highcharts();
          chart.addAxis({ id: axis, title: { text: axis_label } }, true);
          chart.addSeries({name: axis_label.split(" - ").slice(-1)[0], yAxis: axis, data: data[0]});
          chart.addSeries({name: axis_label.split(" - ").slice(-1)[0], yAxis: axis, data: data[1], type: "errorbar"});
        };
        sessionGetJSON(url, params, handler);
      }
    });
     $("span.button.hide").on('click', function() {
      $("div#chart_#{@parameters["chart_id"]}").remove();
    });
  });
